  body {
    background: rgb(124, 112, 112);
    color: rgb(66, 189, 107);
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 10px;
    }

    section{
      font-size: 100px;
    }


  h1 {
    color: red;
    font-size: 2px;
    }


    h2 {
      font-size: 2em
    }

    p{
      font-size: 0.75rem
    }

    figure{
      margin: 25px;
      width: 1000px;
    }

    img{
      max-width: 100%;
    }
