  body {
    background: rgb(120, 174, 224);
    color: rgb(45, 49, 46);
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 16px;
    text-align: left;
    }

    li{
      list-style-type: none;
    }

  h1 {
    color: red;
    font-size: 1em;
    }


    h2 {
      font-size: 1em;
      margin: 10px;
    }

    p{
      font-size: 0.75rem;
    }

    figure{
      margin: 25px auto;
      text-align: center;
      width: 100px;
      /* height: 144px; */
    }

    img{
      max-height: 500px;
      margin: 5 auto;
      width: 100vw;
    }

    figcaption{
      text-align: center;
    }

    section{
      font-size: 16px;
    }

    /* Navigation */

    nav ul{
      border: white;
    }

    li{
      padding: 0;
    }

    nav{
      border: 2px solid;
      border-color: rgb(red, green, blue);
      padding: white;
      background: white;
    }

    nav > ul{
      display: flex;
      justify-content: space-evenly;
      border: white;
    }
    /* The flex rule makes the text horizontal */

    .dropdown ul{
      background: white;
      border-radius: 0 0 3px 3px;
      display: none;
      position: absolute;
      padding: 8px;
      margin: 1px;
    }

    .dropdown:hover ul,
    .dropdown:hover ul{
      display: flex;
      flex-direction: column;
    }

    /* Generally focus goes with hover state to help with accessibility. */

    header{
      align-items: center;
      height: 88vh;
      margin: 20px;
      background-image: url(https://picsum.photos/960/550.jpg);
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    header, header div{
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    header div{
      background: rgba(255, 255, 255, 0.5);
      width: 100%;
    }

    main{
      display: flex;
    }

    main > section{
      background: rgba(255, 255, 255, 0.5);
      margin: 10px;
      padding: 15px;
      font-weight: bold;
      color: #333;
      text-transform: capitalize;
    }

    .cta-btn{
      background: yellow;
      display: inline-block;
      margin: 10px;
      border-radius: 100%;
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .cta-btn:focus,
    .cta-btn:hover{
      background: greenyellow;
      transform: translate(-1px);
    }



